* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.one {
  width: 50px;
  height: 50px;
  margin: 100px auto;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #eb175f;
  border-left-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-play-state: running;
}

.one:hover {
  animation-play-state: paused;
}
.one::before,
.one::after {
  content: "";
  position: absolute;
  border: 5px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.one::before {
  width: 55px;
  height: 55px;
  border-color: rgb(21 144 233) transparent rgb(21 144 233) rgb(21 144 233);
}
.one::after {
  width: 70px;
  height: 70px;
  border-color: rgb(252 178 0) rgb(252 178 0) rgb(252 178 0) transparent;
}
@keyframes loading {
  from {
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/*--------*/
/*--------*/
/*--------*/
/*--------*/
.two {
  width: 50px;
  height: 50px;
  margin: 100px auto;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid rgb(21 144 233);
  border-bottom-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-play-state: paused;
}

.two::before,
.two::after {
  content: "";
  position: absolute;
  content: "";
  position: absolute;
  border: 5px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: loading;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-play-state: paused;
}

.two::before {
  width: 55px;
  height: 55px;
  border-color: rgb(252 178 0) rgb(252 178 0) transparent rgb(252 178 0);
  animation-duration: 5s;
}
.two::after {
  width: 70px;
  height: 70px;
  border-color: black black transparent black;
  animation-duration: 10s;
}
.two:hover,
.two:hover::after,
.two:hover::before {
  animation-play-state: running;
}

/**------------------*/
/**------------------*/
/**------------------*/
.three {
  background-color: rgb(231 231 248);
  width: 50px;
  height: 50px;
  display: block;
  margin: 100px auto;
  border: 6px solid rgb(0 0 0);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-left-color: transparent;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-direction: reverse;
}
/**------------------*/
/**------------------*/
/**------------------*/

.parent {
  width: 600px;
  height: 400px;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.parent::before,
.parent::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: orange;
}

.E,
.L {
  width: 250px;
  height: 300px;
 
  display: grid;
  grid-template-columns: repeat(4, 55px);
  grid-template-rows: repeat(7, 55px);
}
.E div,
.L div {
  background-color: rgb(50 50 52);
}
.first {
  grid-area: 1/1/1/4;
}
.second {
  grid-area: 2/1/4/1;
}
.third {
  grid-area: 3/2/3/4;
}
.fourth {
  grid-area: 4/1/5/1;
}
.fivth {
  grid-area: 5/1/5/4;
}
.first-l {
  grid-area: 1/1/5/1;
}
.second-l {
  grid-area: 5/1/5/4;
}
.parent::before {
  top: 7px;
  left: 150px;
  animation-name: move-E;
  animation-duration: 6s;
  
}

@keyframes move-E {
  0% {
    top: 7px;
    left: 150px;
  }
  5% {
    transform: translate(-110px, 0);
    -webkit-transform: translate(-110px, 0);
    -moz-transform: translate(-110px, 0);
    -ms-transform: translate(-110px, 0);
    -o-transform: translate(-110px, 0);
  }
  10% {
    transform: translate(-110px, 110px);
    -webkit-transform: translate(-110px, 110px);
    -moz-transform: translate(-110px, 110px);
    -ms-transform: translate(-110px, 110px);
    -o-transform: translate(-110px, 110px);
  }
  20% {
    transform: translate(7px, 110px);
    -webkit-transform: translate(7px, 110px);
    -moz-transform: translate(7px, 110px);
    -ms-transform: translate(7px, 110px);
    -o-transform: translate(7px, 110px);
  }
  25% {
    transform: translate(-110px, 110px);
    -webkit-transform: translate(-110px, 110px);
    -moz-transform: translate(-110px, 110px);
    -ms-transform: translate(-110px, 110px);
    -o-transform: translate(-110px, 110px);
  }
  35% {
    transform: translate(-110px, 220px);
    -webkit-transform: translate(-110px, 220px);
    -moz-transform: translate(-110px, 220px);
    -ms-transform: translate(-110px, 220px);
    -o-transform: translate(-110px, 220px);
  }
  45% {
    transform: translate(7px, 220px);
    -webkit-transform: translate(7px, 220px);
    -moz-transform: translate(7px, 220px);
    -ms-transform: translate(7px, 220px);
    -o-transform: translate(7px, 220px);
  }
  55% {
    transform: translate(-110px, 220px);
    -webkit-transform: translate(-110px, 220px);
    -moz-transform: translate(-110px, 220px);
    -ms-transform: translate(-110px, 220px);
    -o-transform: translate(-110px, 220px);
  }
  65% {
    transform: translate(-110px, 110px);
    -webkit-transform: translate(-110px, 110px);
    -moz-transform: translate(-110px, 110px);
    -ms-transform: translate(-110px, 110px);
    -o-transform: translate(-110px, 110px);
  }
  70% {
    transform: translate(7px, 110px);
    -webkit-transform: translate(7px, 110px);
    -moz-transform: translate(7px, 110px);
    -ms-transform: translate(7px, 110px);
    -o-transform: translate(7px, 110px);
  }
  80% {
    transform: translate(-110px, 110px);
    -webkit-transform: translate(-110px, 110px);
    -moz-transform: translate(-110px, 110px);
    -ms-transform: translate(-110px, 110px);
    -o-transform: translate(-110px, 110px);
  }
  90% {
    transform: translate(-110px, 0px);
    -webkit-transform: translate(-110px, 0px);
    -moz-transform: translate(-110px, 0px);
    -ms-transform: translate(-110px, 0px);
    -o-transform: translate(-110px, 0px);
  }
  100% {
  }
}
.parent::after {
  top: 227px;
  left: 435px;
  opacity: 0;
  animation-name: move-L;
  animation-duration: 3s;
  animation-delay: 6s;
  
}
@keyframes move-L {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(-110px, 0);
    -webkit-transform: translate(-110px, 0);
    -moz-transform: translate(-110px, 0);
    -ms-transform: translate(-110px, 0);
    -o-transform: translate(-110px, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-110px, -220px);
    -webkit-transform: translate(-110px, -220px);
    -moz-transform: translate(-110px, -220px);
    -ms-transform: translate(-110px, -220px);
    -o-transform: translate(-110px, -220px);
  }
  100% {
    opacity: 0;
    transform: translate(-110px, -220px);
    -webkit-transform: translate(-110px, -220px);
    -moz-transform: translate(-110px, -220px);
    -ms-transform: translate(-110px, -220px);
    -o-transform: translate(-110px, -220px);
  }
}
