* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.one {
  width: 50px;
  height: 50px;
  background-color: #eb175f;
  margin: 100px auto;
  position: relative;
}
.one::before,
.one::after {
  content: "";
  position: absolute;
}
