* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --text-color: white;
  --rgb1: #ff5722;
  --rgb2: #009688;
  --rgb3: #000;
  --rgb4: #607d8b;
  --rgb5: #fa3664;
  --rgb6: #0075ff;
  --font-weight: bold;
}
.one {
  width: 150px;
  background-color: var(--rgb1);
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-weight: var(--font-weight);
  padding: 20px;
  position: relative;
}
.one::after,
.one::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ff5722;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.one::after {
  transform: skew(10deg, 10deg);
  -webkit-transform: skew(10deg, 10deg);
  -moz-transform: skew(10deg, 10deg);
  -ms-transform: skew(10deg, 10deg);
  -o-transform: skew(10deg, 10deg);
}
.one::before {
  transform: skew(-10deg, -10deg);
  -webkit-transform: skew(-10deg, -10deg);
  -moz-transform: skew(-10deg, -10deg);
  -ms-transform: skew(-10deg, -10deg);
  -o-transform: skew(-10deg, -10deg);
}
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
.two {
  position: relative;
  width: 150px;
  margin: 40px auto;
  color: var(--text-color);
  background-color: var(--rgb2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-weight: var(--font-weight);
}
.two::before,
.two::after {
  content: "";
  height: 100%;
  position: absolute;
  background-color: var(--rgb2);
  z-index: -1;
  transform: skew(20deg, 0);
  -webkit-transform: skew(20deg, 0);
  -moz-transform: skew(20deg, 0);
  -ms-transform: skew(20deg, 0);
  -o-transform: skew(20deg, 0);
}

.two::before {
  top: 0;
  left: -55px;
  width: 17%;
}
.two::after {
  width: 100%;
  top: 0;
  left: -25px;
}

/* write what are this values 
.class {
  matrix(3, 0.2679, 0, 3, 20, 100);
}
transfotm:matrix(scaleX 3,skewY 0.2679,skewX 0,scaleY 3,translateX 20 ,translateY 100;
*/
.three {
  width: 200px;
  height: 200px;
  background-color: var(--rgb4);
  margin: 100px auto;
  position: relative;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--text-color);
  padding: 10px;
  font-size: 16px;
}
.three::before {
  content: "elzero";
  text-transform: capitalize;
  color: var(--text-color);
}

.three::after {
  content: "";
  width: 69%;
  height: 69%;
  position: absolute;
  background-color: #000;
  transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
  -moz-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  -o-transform: rotate(44deg);
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  top: -70px;
  left: 28.5px;
}
/*--------*/
/*--------*/
/*--------*/
/*--------*/
/*--------*/
.box {
  perspective: 200px;
}
.four {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  position: relative;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: 25px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transform-style: preserve-3d;
}
.four::after,
.four::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.four::before {
  content: "front";
  background-color: var(--rgb5);
}
.four::after {
  content: "back";
  background-color: var(--rgb6);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.four:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
