* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
hr {
  margin: 20px auto;
}
div.main.red {
  color: red;
}
/*----------*/
/*----------*/
/*----------*/
/*-----
another sulo: .parent2 > div:nth-child(2){
  color:red;
}
-----*/
.parent2 :nth-child(2) {
  /*-----
another sulo: .parent2 > div:nth-child(2){
  color:red;
}
-----*/
  color: red;
}
/*----------*/
/*----------*/
/*----------*/
.parent3 .baby:only-child {
  color: red;
}
/*----------*/
/*----------*/
/*----------*/
.fourth > div[title]:not(.no-need) {
  color: red;
}

/*----------*/
/*----------*/
/*----------*/
div:not(.no-need) > p + div:last-child[title]:not(.no-need) {
  color: red;
}

/*----------*/
/*----------*/
/*----------*/
.six div:not(.no-need) > div:nth-last-of-type(2) {
  color: red;
}
/*----------*/
/*----------*/
/*----------*/
.seven div:first-of-type > div:nth-last-of-type(2) {
  color: red;
}

/*----------*/
/*----------*/
/*----------*/
.eight div > :not(:first-child, h3, :last-child) {
  color: red;
}
